@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap');

html {
    background-color: #232931;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.layout-container{
    min-height: 100vh;
    overflow-y: auto;
    background-color: #232931;
}

.container {
    padding: 25px;
}

.footer{
    background-color: #0f1123;
    color: #fff;
}

.footer p{
    margin: 0;
}

.footer a {
    color: #fff;
}

.text-white{
    color: #fff;
}

.text-last-updated{
    margin-top: 20px;
}

.map-container{
    width: 100%;
}

.district-title{
    margin-top: 20px;
}

.data-container{
    margin-top: 15px;
}

.vaccinated-text{
    color: #a6f0c6 !important;
}

@media only screen and (min-width: 700px) {
    .container {
        padding: 25px;
    }

    .data-container{
        padding-left: 25px;
    }

    .footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
