/* map */
.svg-map {
    width: 100%;
    height: auto;
    stroke: #666;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round; }
.svg-map__location {
    fill: #62cca7;
    cursor: pointer; }
.svg-map__location:focus, .svg-map__location:hover {
    fill: #15a27b;
    outline: 0; }
.svg-map__location[aria-checked=true] {
    fill: #15a27b; }
