@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.layout-container{
    min-height: 100vh;
    overflow-y: auto;
    background-color: #232931;
}

.container {
    padding: 25px;
}

.footer{
    background-color: #0f1123;
    color: #fff;
}

.footer p{
    margin: 0;
}

.footer a {
    color: #fff;
}

.text-white{
    color: #fff;
}

.text-last-updated{
    margin-top: 20px;
}

.map-container{
    width: 100%;
}

.district-title{
    margin-top: 20px;
}

/* map */
.svg-map {
    width: 100%;
    height: auto;
    stroke: #666;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round; }
.svg-map__location {
    fill: #62cca7;
    cursor: pointer; }
.svg-map__location:focus, .svg-map__location:hover {
    fill: #15a27b;
    outline: 0; }
.svg-map__location[aria-checked=true] {
    fill: #15a27b; }

/* title select */
.district-option{
    width: 100%;
}

.district-select{
    width: 100%;
    margin-bottom: 20px;
}

.district-select .ant-select-selector{
    font-size: 25px;
    height: 60px !important;
    align-items: center;
    background-color: #a6ccc4 !important;
    color: #fff !important;
    font-weight: bold;
}

.ant-select-arrow{
    color: #fff !important;
}

.data-container{
    margin-top: 15px;
}

.vaccinated-text{
    color: #a6f0c6 !important;
}

@media only screen and (min-width: 700px) {
    .container {
        padding: 25px;
    }

    .data-container{
        padding-left: 25px;
    }

    .footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
